<h1> All tags for blog of kick-assedness </h1>

<p>
  <% @tags.each do |tag| %>
    <ul><%= link_to tag.name, tag_path(tag)%></ul>
    <%= link_to "delete", tag_path(tag), method: :delete,
    data: {confirm: "Are you sure you want to delete this tag?"} %>
  <% end %>
</p>
